body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: antiquewhite;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black !important;
}
.font-weight-bold{
    color: pink !important;
}

/*div styles*/
.common{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
}
.top{
    top: 0px;
    left: 0px;
    right: 0px
}
.middle{
    top: 100px;
    left: 0px;
    right: 0px
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px 
    z-index: 1;
    text-align: center;
    background-color: white;
    font-style: italic;
    font-weight: bold;
}